.title {
    display: flex;
    align-items:baseline;
  }
  
  .title h2 {
    font-size:small;
    color: rgb(38, 38, 38);
    margin-left: 10px;
  }

  .pointHeadline {
    margin-bottom: 40px;
  }
  
  .totalPoint {
    font-size: xx-large;
    font-weight: bold;
    color: #4b7eb6;
  }